@font-face {
  font-family: "josefin";
  src: url("../fonts/JosefinSans.ttf");
  format: ("opentype");
}

@font-face {
  font-family: "titillium-regular";
  src: url("../fonts/TitilliumWeb-Regular.ttf");
  format: ("opentype");
}

@font-face {
  font-family: "titillium-bold";
  src: url("../fonts/TitilliumWeb-Bold.ttf");
  format: ("opentype");
}

/* vietnamese */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUAnx4RHw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUA3x4RHw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUAnx4RHw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUA3x4RHw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUAnx4RHw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUA3x4RHw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPAcZTIAOhVxoMyOr9n_E7fdMbWAaxWXr0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPAcZTIAOhVxoMyOr9n_E7fdMbWD6xW.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPFcZTIAOhVxoMyOr9n_E7fdMbetIlDb5yciWM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPFcZTIAOhVxoMyOr9n_E7fdMbetIlDYZyc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGIVzY4SY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzYw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  margin-top: 0;
}

#site-header {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 40rem;
  padding-top: 3rem;
}
#site-header h1 {
  padding: 0;
  margin: 0;
}
#site-header h1::after {
  display: none;
}
.flexbox #site-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.home-title {
  position: relative;
  padding: 2em 0;
  text-align: center;
}
.home-title h1 {
  font-size: 3rem;
  font-size: 9vw;
  font-weight: 100;
  line-height: 1;
  margin: 0;
}
@media only screen and (max-width: 30rem) {
  .home-title h1 {
    font-size: 2rem;
    font-size: 9vw;
  }
}
@media only screen and (min-width: 45rem) {
  .home-title h1 {
    font-size: 4.5rem;
    font-size: 9vw;
  }
}
@media only screen and (min-width: 75rem) {
  .home-title h1 {
    font-size: 6.75rem;
  }
}
.home-title h2 {
  margin: 1em 0 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
}
.home-title::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -375%;
  bottom: -66.6666vw;
  left: 50%;
  width: 240rem;
  width: 400vw;
  height: 240rem;
  height: 400vw;
  margin-left: -120rem;
  margin-left: -200vw;
  z-index: -1;
  background-image: url("../img/a.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation-name: orbit;
  animation-name: orbit;
  -webkit-animation-duration: 1000s;
  animation-duration: 700s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
#citacao {
  margin-top: 5rem;
  margin-bottom: 3.5rem;
  font-size: 15px;
  color: #485e81;
}
.home-intro,
.home-about {
  width: 28rem;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: justify;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 30rem) {
  .home-intro,
  .home-about {
    width: 100%;
  }
}
#orbit-photo {
  position: relative;
  width: 18em;
  height: 12em;
  margin: 0 auto;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
#orbit-photo .system {
  position: relative;
  width: 100%;
  height: 100%;
}
.preserve3d #orbit-photo .system {
  -webkit-transform: rotateX(75deg) rotateY(-30deg);
  transform: rotateX(75deg) rotateY(-30deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#orbit-photo .satellite-orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16em;
  height: 16em;
  margin-top: -8em;
  margin-left: -8em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation-name: orbit;
  animation-name: orbit;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  z-index: -1;
}
#orbit-photo .satellite {
  position: absolute;
  left: 100%;
  top: 50%;
  width: 3em;
  height: 3em;
  margin-top: -1.5em;
  margin-left: -1.5em;
  background-color: #306cb9;
  border-radius: 50%;
}
.preserve3d #orbit-photo .satellite {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation-name: invert-orbit;
  animation-name: invert-orbit;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
#photo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 9em;
  margin-top: -4.5em;
  margin-left: -4.5em;
  overflow: hidden;
  opacity: 0.75;
}
.preserve3d #photo {
  -webkit-transform: rotateY(30deg) rotateX(-75deg) rotateZ(0deg);
  transform: rotateY(30deg) rotateX(-75deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#photo .back,
#photo .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #306cb9;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 2s;
  transition: all 2s;
}
#photo .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#photo .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#photo.flip .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#photo.flip .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#photo img {
  display: block;
  width: 100%;
  height: auto;
}
@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes orbit {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes invert-orbit {
  0% {
    -webkit-transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg);
    transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
    transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
  }
}
@keyframes invert-orbit {
  0% {
    -webkit-transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg);
    transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
    transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
  }
}
#pixelman {
  position: relative;
  width: 16em;
  height: 16em;
  margin: 2em auto;
  cursor: pointer;
  margin-bottom: 8rem;
}
#pixelman img {
  display: block;
  width: 100%;
}

html,
body,
div,
span,
h1,
h2,
em,
img,
i,
ul,
li,
tbody,
tfoot,
thead,
article,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}

a img {
  border: none;
}
article,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.no-flexbox .post-preview-title,
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.underline,
main h1 {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}
.underline::after,
main h1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 16rem;
  height: 4px;
  margin-left: -8rem;
  background-color: #525e65;
}
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  min-width: 20rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  margin-top: 3rem;
  font-family: "Titillium Web";
  color: #dff6ff;
  background-color: #06113c;
}
a {
  color: #73cca8;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2 {
  font-style: normal;
  letter-spacing: 0.125em;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.25;
  margin: 3rem 0;
}
h1 {
  font-weight: 400;
  font-size: 2rem;
}
h2 {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 0;
}
p {
  margin: 1em 0;
  line-height: 1.5;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
ul {
  margin-bottom: 1em;
  margin-left: 2em;
}
ul {
  list-style-type: disc;
}

i {
  font-style: italic;
}

#site-header h1 {
  font-family: "Josefin Sans";
  font-size: 5rem;
  font-weight: 100;
}

@media only screen and (max-width: 50rem) {
  #site-header h1 {
    font-family: "Josefin Sans";
    font-size: 3rem;
    font-weight: 100;
  }
}

#site-header h2 {
  font-family: "Titillium Web";
  font-size: 1.2em;
  font-weight: 700;
}

.home-title h1,
h2 {
  color: #000;
}
.container {
  width: 100%;
  padding: 0 1rem;
}
@media only screen and (min-width: 75rem) {
  .container {
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 1200px;
  }
}
.page-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.main-column {
  width: 28rem;
  margin: 0 auto;
}
.site-title {
  padding: 1em 0;
  text-align: center;
  margin-bottom: 2em;
}
.site-title h1 {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.25;
  padding: 0;
  margin: 0;
}
.site-title h1::after {
  display: none;
}
.site-title h2 {
  color: #525e65;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.25;
  padding: 0;
  margin: 0;
}

#site-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 20rem;
  z-index: 999;
  background-color: #222733;
  text-align: center;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}
#site-nav ul {
  margin: 0;
  list-style: none;
}
#site-nav li {
  display: inline-block;
}
#site-nav a {
  display: block;
  height: 3rem;
  padding: 0 1rem;
  color: #dff6ff;
  line-height: 3em;
}

#site-nav a:hover {
  color: #4690f1;
  border-bottom: 4px solid #4690f1;
}

@media only screen and (max-width: 30rem) {
  #site-nav a {
    padding: 0 0.5rem;
  }
}
.circle {
  width: 9em;
  height: 9em;
  border-radius: 4.5em;
}

.post-header,
.category-header,
.archive-header {
  margin-bottom: 6rem;
  text-align: center;
}
.post-title,
.archive-title {
  font-size: 3rem;
  font-weight: 100;
  padding: 0;
  margin: 6rem 0;
}
.post-title::after,
.archive-title::after {
  display: none;
}
@media only screen and (max-width: 30rem) {
  .post-title,
  .archive-title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 45rem) {
  .post-title,
  .archive-title {
    font-size: 4rem;
  }
}
.post-content {
  width: 28rem;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: justify;
}
@media only screen and (max-width: 30rem) {
  .post-content {
    width: 100%;
  }
}
.post-footer {
  margin-top: 6rem;
  text-align: center;
}
.post-footer .tag-list {
  margin: 1rem 0;
  list-style: none;
}
.post-footer .tag-list li {
  display: inline-block;
  margin: 0 0.5rem;
}
.category-section,
.archive-section {
  text-align: center;
}

.category-header p {
  padding-top: 3rem;
}

.category-section {
  margin: 1rem 0;
}

@media only screen and (max-height: 670px) {
  .category-section {
    margin: 8rem 0;
  }
}

.category-description,
.archive-description {
  color: #485e81;
}
.category-preview,
.archive-preview {
  text-align: center;
  list-style: none;
  margin-left: 0;
}
.category-preview li,
.archive-preview li {
  display: inline-block;
  margin: 0.5rem;
  vertical-align: middle;
}

.post-preview {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7rem;
  height: 7rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  background-color: #080808;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  color: #dff6ff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.post-preview::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(17, 17, 63, 0.5);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.post-preview:hover,
.post-preview:focus {
  border: none;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}
.post-preview:hover::before,
.post-preview:focus::before {
  background-color: rgba(34, 39, 51, 0);
}
.post-preview:hover .post-preview-title,
.post-preview:focus .post-preview-title {
  opacity: 0;
}
@media only screen and (min-width: 36rem) {
  .post-preview {
    width: 10rem;
    height: 10rem;
  }
}
.no-flexbox .post-preview {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.post-preview-title {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 1px 0 #110d17, 0 -1px 0 #110d17, 1px 0 0 #110d17,
    -1px 0 0 #110d17;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.no-flexbox .post-preview-title {
  display: block;
}

.footer-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#footer {
  position: relative;
  padding: 2em 0;
  height: 100vh;
  min-height: 34em;
  text-align: center;
  margin-top: -250px;
}

@media only screen and (max-width: 1500px) {
  #footer {
    margin: 3rem 0;
  }
}

#footer .down-below {
  justify-content: center;
  display: flex;
}

#footer .down-below a {
  text-decoration: none;
  font-family: "josefin";
  color: #dbe8d4;
  font-size: large;
  display: inline-block;
  position: relative;
  color: #4690f1;
}

#footer .down-below a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4690f1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#footer .down-below a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#footer .down-below {
  position: relative;
  padding-top: 2rem;
}

#footer .links a {
  display: block;
  width: 1.5em;
  height: 1.5em;
  color: #222733;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  background-color: #dff6ff;
  border-radius: 50%;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  margin-right: 30px;
  margin-top: 15px;
}

#footer .links a:hover {
  transition: 0.2s ease;
  text-decoration: none;
  cursor: pointer;
}

#footer .whatsapp:hover {
  background-color: #25d366;
  color: #fff;
}

#footer .github:hover {
  background-color: rgb(17, 17, 17);
  color: #fff;
}

#footer .twitter:hover {
  background-color: rgb(29, 155, 240);
  color: #fff;
}

#footer .linkedin:hover {
  background-color: #0073b1;
  color: #fff;
}

#footer .links {
  justify-content: center;
  list-style-type: none;
  display: flex;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

#footer .info p {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  color: #4690f1;
  font-size: smaller;
}

#footer .to-top {
  display: block;
  margin: 4rem auto 2rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  border: none;
  background-color: #dff6ff;
  color: #222733;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
}

#footer .to-top i {
  font-size: 2em;
  line-height: inherit;
}

#footer .to-top:hover {
  transition: 0.2s ease;
  background-color: #4690f1;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#work {
  font-family: "titillium-regular";
  color: #dff6ff;
}
